<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://defaultname/1.0"
            class="behaviortree.BehaviortreePackage"
            genModel="model/DefaultName.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="Diagram Type for GraphBT"
            id="behaviortree.graphBT.GraphBTDiagramType"
            name="Diagram Type for GraphBT"
            type="graphbt">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="behaviortree.graphBT.diagram.GraphBTDiagramTypeProvider"
            description="This is the editor for GraphBT Tool"
            id="behaviortree.graphBT.GraphBTDiagramTypeProvider"
            name="GraphBT Diagram Type Provider">
         <diagramType
               id="behaviortree.graphBT.GraphBTDiagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>
<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
          <propertyContributor contributorId="graphbt.PropertyContributor">
              <propertyCategory category="Graphiti">
              </propertyCategory>
          </propertyContributor>
      </extension>
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
          <propertyTabs contributorId="graphbt.PropertyContributor">
              <propertyTab label="Main" category="Graphiti"
                  id="graphiti.main.tab">
              </propertyTab>
          </propertyTabs>
      </extension>   
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
          <propertySections contributorId="graphbt.PropertyContributor">
              <propertySection
                    tab="graphiti.main.tab"
                    class="behaviortree.graphBT.property.BehaviorTreePropertySection"
                    filter="behaviortree.graphBT.property.BehaviorTreeFilter"
                    id="graphiti.main.tab.emfclass">
              </propertySection>
          </propertySections>
      </extension>
</plugin>
