<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.be.graphbt.model.graphbt.GraphBTPackage"
            genModel="model/DefaultName.genmodel"
            uri="http://graphbt/1.0">
      </package>
   </extension>

</plugin>
