<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
         <command
          id="com.eclipse-tips.rcp.app.sessionCommand"
          name="Session Command">
    	</command>
      <command
            id="behaviortree.graphBT.codegenerator.command.ParseXMLCommand"
            name="Parse XML"
            description="Parsing XML of BT Specification">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
          locationURI="menu:file?before=quit">
       <command
             commandId="com.eclipse-tips.rcp.app.sessionCommand"
             style="push">
       </command>
    </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <command
                  commandId="behaviortree.graphBT.codegenerator.command.ParseXMLCommand"
                  icon="resource/run.gif"
                  label="Generate Java Source Code"
                  style="push">
                  <visibleWhen
                        checkEnabled="false">
                        <reference
                              definitionId="oneElementSelected">
                        </reference>
                  </visibleWhen>
            </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer">
         <command
               commandId="behaviortree.graphBT.codegenerator.command.ParseXMLCommand"
               icon="resource/run.gif"
               label="Generate Java Source Code"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="oneElementSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneElementSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="codegenerator.commandHandler.StartPointParseXML"
            commandId="behaviortree.graphBT.codegenerator.command.ParseXMLCommand"
            helpContextId="BTDebuggerTool.ParseXMLHandler">
      </handler>
   </extension>

</plugin>
