<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
         <command
          id="com.eclipse-tips.rcp.app.sessionCommand"
          name="Session Command">
    	</command>
      <command
            id="btdebuggertool.command.ParseXMLCommand"
            name="Parse XML"
            description="Parsing XML to BT Specification">
      </command>
      <command
            description="Start Debug"
            id="btdebuggertool.command.PlayCommand"
            name="Play">
            
      </command>
      <command
            description="Stop Debug"
            id="btdebuggertool.command.StopCommand"
            name="Stop">
      </command>
      <command
            description="Pause Debug"
            id="btdebuggertool.command.PauseCommand"
            name="Pause">
      </command>
      <command
            description="Step Debug"
            id="btdebuggertool.command.StepCommand"
            name="Step">
      </command>
      <command
            defaultHandler="btdebuggertool.commandHandler.SaveHandler"
            description="Save to Image"
            id="btdebuggertool.command.SaveCommand"
            name="Save">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
          locationURI="menu:file?before=quit">
       <command
             commandId="com.eclipse-tips.rcp.app.sessionCommand"
             style="push">
       </command>
    </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <command
                  commandId="btdebuggertool.command.ParseXMLCommand"
                  icon="resource/debug.gif"
                  label="Debug BT"
                  style="push">
                  <visibleWhen
                        checkEnabled="false">
                        <reference
                              definitionId="oneElementSelected">
                        </reference>
                  </visibleWhen>
            </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer">
         <command
               commandId="btdebuggertool.command.ParseXMLCommand"
               icon="resource/debug.gif"
               label="Debug BT"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="oneElementSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:btdebuggertool.view.ZestDebuggerView?after=additions">
         <command
               commandId="btdebuggertool.command.PlayCommand"
               icon="resource/resume_co.gif"
               label="Play"
               style="push">
               <visibleWhen
                     checkEnabled="false">
               </visibleWhen>
         </command>
         
         <command
               commandId="btdebuggertool.command.StopCommand"
               icon="resource/progress_stop.gif"
               label="Stop"
               style="push">
               <visibleWhen
                     checkEnabled="false">
               </visibleWhen>
         </command>
         <command
               commandId="btdebuggertool.command.PauseCommand"
               icon="resource/pause.gif"
               label="Pause"
               style="push">
               <visibleWhen
                     checkEnabled="false">
               </visibleWhen>
         </command>
         <command
               commandId="btdebuggertool.command.StepCommand"
               icon="resource/stepover_co.gif"
               label="Step"
               style="push">
               <visibleWhen
                     checkEnabled="false">
               </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneElementSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
         <handler
          class="com.eclipse_tips.rcp.app.handlers.LoginHandler"
          commandId="com.eclipse-tips.rcp.app.sessionCommand">
       <activeWhen>
          <with
                variable="com.eclipse-tips.rcp.app.sessionState">
             <equals
                   value="disabled">
             </equals>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="com.eclipse_tips.rcp.app.handlers.LogoutHandler"
          commandId="com.eclipse-tips.rcp.app.sessionCommand">
       <activeWhen>
          <with
                variable="com.eclipse-tips.rcp.app.sessionState">
             <equals
                   value="enabled">
             </equals>
          </with>
       </activeWhen>
    </handler>
      <handler
            class="btdebuggertool.commandHandler.StartPointParseXML"
            commandId="btdebuggertool.command.ParseXMLCommand"
            helpContextId="BTDebuggerTool.ParseXMLHandler">
      </handler>
      <handler
            class="btdebuggertool.commandHandler.PlayHandler"
            commandId="btdebuggertool.command.PlayCommand">
         <activeWhen>
            <with
                  variable="btdebuggertool.sourceProvider.playState">
               <equals
                     value="enabled">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="btdebuggertool.commandHandler.StopHandler"
            commandId="btdebuggertool.command.StopCommand">
            <activeWhen>
            <with
                  variable="btdebuggertool.sourceProvider.stopState">
               <equals
                     value="enabled">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="btdebuggertool.commandHandler.PauseHandler"
            commandId="btdebuggertool.command.PauseCommand">
            <activeWhen>
            <with
                  variable="btdebuggertool.sourceProvider.pauseState">
               <equals
                     value="enabled">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="btdebuggertool.commandHandler.StepHandler"
            commandId="btdebuggertool.command.StepCommand">
            <activeWhen>
            <with
                  variable="btdebuggertool.sourceProvider.stepState">
               <equals
                     value="enabled">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="btdebuggertool.perspective.DebuggerPerspective"
            fixed="false"
            icon="resource/debug.gif"
            id="btdebuggertool.perspective.DebuggerPerspective"
            name="Debugger Perspective">
         <description>
            This perspective is used to be debugger view layout
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="btdebuggertool.view.ZestDebuggerView"
            icon="resource/debug.gif"
            id="btdebuggertool.view.ZestDebuggerView"
            name="Zest Viewer"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="btdebuggertool.view.StateVarDebuggerView"
            icon="resource/variable_view.gif"
            id="btdebuggertool.view.StateVarDebuggerView"
            name="State Viewer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="btdebuggertool.sourceProvider.DebugToolsCommandSourceProvider">
         <variable
               name="btdebuggertool.sourceProvider.playState"
               priorityLevel="activePartId">
         </variable>
         <variable
               name="btdebuggertool.sourceProvider.stopState"
               priorityLevel="activePartId">
         </variable>
         <variable
               name="btdebuggertool.sourceProvider.pauseState"
               priorityLevel="activePartId">
         </variable>
         <variable
               name="btdebuggertool.sourceProvider.stepState"
               priorityLevel="activePartId">
         </variable>
      </sourceProvider>
      <sourceProvider provider="com.eclipse_tips.rcp.app.SessionSourceProvider">
        <variable 
             name="com.eclipse-tips.rcp.app.sessionState"
             priorityLevel="workbench">
        </variable>
    </sourceProvider>
   </extension>

</plugin>
